:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --acent-color: #2196F3;
    --background-hero: #2F303A;
    --primary-white-color: #FFFFFF;
    --team-background: #F5F4FA;
    --footer-background: #2F303A;
    --btn-background: #EEEEEE;
    --footer-link-alpha: gba(255, 255, 255, 0.6);
}
body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color: var(--primary-text-color);
    letter-spacing: 0.03em;
    background-color: var(--primary-white-color);
    font-size: 16px;
}

.list {
        list-style-type: none;
    }
.link {
    text-decoration: none;
}
.logo {
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-text-color);
    text-decoration: none;
}

.footer .logo {
    color: var(--primary-white-color);
}
.logo>span {
    color: var(--acent-color);
}
.site-nav .link,
.contacts .link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.site-nav .link {
    color: var(--title-text-color);
}
.site-nav .current {
    color: var(--acent-color);
}
.contacts .link {
    color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus,
.contacts .link:hover,
.contacts .link:focus {
    color: var(--acent-color);
}

/*Hero*/
.hero {
    background-color: var(--background-hero);
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-white-color);
}
.hero .btn {
    font-family: inherit;
    font-size: inherit;
    color: var(--primary-white-color);
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

/*Наши преимущества */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages .title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.advantages .text {
    font-size: 14px;
    line-height: 1.71;
}


/* Чем мы занимаемся*/
.title {
    font-size: 36px;
    line-height: 1.16;
    color: var(--title-text-color);
}
.about .title,
.team .title {
    text-align: center;
}
/* our team*/
.team {
    background-color: var(--team-background);
}

.team-list .name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--title-text-color);
}
.team-list .job {
    line-height: 1.18;
    text-align: center;
}

.footer {
    background-color: var(--footer-background);
}
.footer .link {
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
}
.footer .map {
    color: var(--primary-white-color);
}
.footer .contact {
    color: var(--footer-link-alpha);
}
.footer .contact:hover,
.footer .contact:focus {
    color: var(--acent-color);
}

/* Portfolio*/
 .list .btn {
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
    background-color: var(--btn-background);
    font-weight: 500;
    line-height: 1.62;
    text-align: center;
    color: var(--title-text-color);
 }
 .btn.active {
    background-color: var(--acent-color);
    color: var(--primary-white-color);
 }
 .list .btn:hover,
 .list .btn:focus {
    background-color: var(--acent-color);
    color: var(--primary-white-color);
 }
 .list-projects .title {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
 }
 .list-projects .text {
    line-height: 1.88;
    color: var(--primary-text-color);
 }



